@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  :root {
    --accent-500: #c69963;
    --accent-600: #b78343;
  }
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }
  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }
  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
/* For data picker */
.rdp {
  --rdp-cell-size: 32px;
  --rdp-accent-color: var(--accent-500);
  --rdp-background-color: var(--accent-600);
  margin: 0;
}

.rdp-day_range_start,
.rdp-day_range_end {
  background-color: var(--accent-500);
  color: black;
}

.rdp-day_range_middle {
  background-color: var(--accent-600);
  color: black;
}
